@tailwind base;
@tailwind components;
@tailwind utilities;


[contenteditable=true]:empty:before{
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
    color: #aaa;
  }