@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #aaa;
  font-size: 14px;
  margin-left: 2px;
}

.w-md-editor-content,
.w-md-editor-toolbar,
.w-md-editor-bar,
.w-md-editor-aree,
.w-md-editor-input,
.w-md-editor {
  background-color: inherit!important;
  white-space: nowrap;
}

.w-md-editor-toolbar {
  display: none !important;
}

.wmde-markdown{
    background-color: inherit !important;
    white-space: initial !important
}
.rdp-button:hover:not([disabled]) { 
  color: black
}